# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

*py~
*swp

# Distribution / packaging
.Python
env/
venv/
build/
develop-eggs/
dist/
downloads/
eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# JS dependencies
mesa_viz_tornado/templates/external/
mesa_viz_tornado/templates/js/external/
